// *
// * 
// * Contao KISS
// *
// * _cols.scss
// * Styles for the cols settings of each element
// *

@import "../_variables";

.u-cols {
	display: grid;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	&--cols_2,
	&--cols_3,
	&--cols_4,
	&--cols_5,
	&--cols_6,
	&--cols_7,
	&--cols_8,
	&--cols_9,
	&--cols_10,
	&--cols_11,
	&--cols_12 {
	  grid-template-columns: repeat(1, minmax(0, 1fr));
	  grid-template-rows: 1fr;
	}
	
	@include media('>=medium') {
	  &--cols_2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	  }
	  &--cols_3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	  }
	  &--cols_4 {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	  }
	  &--cols_5 {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	  }
	  &--cols_6 {
		grid-template-columns: repeat(6, minmax(0, 1fr));
	  }
	  &--cols_7 {
		grid-template-columns: repeat(7, minmax(0, 1fr));
	  }
	  &--cols_8 {
		grid-template-columns: repeat(8, minmax(0, 1fr));
	  }
	  &--cols_9 {
		grid-template-columns: repeat(9, minmax(0, 1fr));
	  }
	  &--cols_10 {
		grid-template-columns: repeat(10, minmax(0, 1fr));
	  }
	  &--cols_11 {
		grid-template-columns: repeat(11, minmax(0, 1fr));
	  }
	  &--cols_12 {
		grid-template-columns: repeat(12, minmax(0, 1fr));
	  }
	}
	> .c-cards__item {
		margin: 0;
	}
}