// *
// * 
// * Contao KISS
// *
// * _size.scss
// * Styles for the size settings of each element
// *

@import "../_variables";

.u-size {
	&--regular,
	&--small,
	&--smaller {
		margin-left: auto;
		margin-right: auto;
	}
	&--regular {
		max-width: $object-size-regular;
	}
	
	&--small {
		max-width: $object-size-small;
	}
	
	&--smaller {
		max-width: $object-size-smaller;
		padding-left: calc($gutter-height / 2);
		padding-right: calc($gutter-height / 2);
	}
	
	&--nopad {
		margin-left: 0;
		margin-right: 0;
		min-width: 100vw;
	}
	
	&--full {
		margin-left: 0;
		margin-right: 0;
		min-width: 100vw;
		box-sizing: border-box;
	}

	&--regular,
	&--small,
	&--full {
		padding-left: calc($gutter-height/2);
		padding-right: calc($gutter-height/2);

		@include media('>=medium') {
			padding-left: $gutter-height;
			padding-right: $gutter-height;
		}
	}
}