/.claude/* export-ignore
/.claude/skills -export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.githooks export-ignore
/.gitignore export-ignore
/.twig-cs-fixer.php export-ignore
/build/biome.json export-ignore
/build/stylelint.config.js export-ignore
/depcheck.php export-ignore
/docs/* export-ignore
/docs/best-practices.md -export-ignore
/docs/build-tools.md -export-ignore
/ide-twig.json export-ignore
/phpunit.xml.dist export-ignore
/tests export-ignore
/vendor-bin/* export-ignore
/vendor-bin/twig-cs-fixer -export-ignore
/vendor-bin/twig-cs-fixer/* export-ignore
/vendor-bin/twig-cs-fixer/src -export-ignore
