/.claude export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.twig-cs-fixer.php export-ignore
/AGENTS.md export-ignore
/build/biome.json export-ignore
/build/stylelint.config.js export-ignore
/depcheck.php export-ignore
/docs export-ignore
/ide-twig.json export-ignore
/phpunit.xml.dist export-ignore
/tests export-ignore
/vendor-bin export-ignore
