// *
// * 
// * Contao KISS Theme Boilerplate
// *
// * _background.scss
// * Styles for the background options of all elements
// *

@import "../_variables";

#container {
	.u-background {
		&--transparent {
			background: transparent;
		}
		&--color-1 {
			background: $color-brand;
			// Change texts, primary button and link colors when background has same color
			color: $color-white;
			h1, h2, h3, h4, h5, h6 {
				color: $color-white;
			}
			a {
				color: $color-secondary-1;
			}
			.ce_hyperlink .c-button,
			.c-button,
			button {
				&--primary,
				&.submit {
					background: $color-secondary-1;
					color: $color-brand;
					border: 1px solid $color-secondary-1;
					&:hover,
					&:active,
					&:focus {
						color: $color-white;
						background: $color-secondary-2;
						border: 1px solid $color-secondary-2;
					}
				}
				&--secondary {
					color: $color-secondary-1;
					background: transparent;
					border: 1px solid $color-secondary-1;
					&:hover,
					&:active,
					&:focus {
						color: $color-brand;
						background: $color-white;
						border: 1px solid $color-white;
					}
				}
				&--tertiary {
					color: $color-white;
					background: transparent;
					border: 1px solid transparent;
					&:hover,
					&:active,
					&:focus {
						color: $color-secondary-1;
						background: $color-white;
						border: 1px solid transparent;
					}
				}
			}
		}
		&--color-2 {
			background: $color-secondary-1;
		}
		&--color-3 {
			background: $color-secondary-2;
		}
		&--color-4 {
			background: $color-secondary-3;
		}
	}
}

