@layer components {
    .form-grid {
        --altcha-max-width: 100%;

        .formbody {
            @apply grid grid-cols-12 gap-4;

            > * {
                @apply col-span-full;
            }
        }

        fieldset {
            @apply grid grid-cols-12 gap-3;

            > * {
                @apply col-span-full;
            }

            &.checkbox_container {
                .form-checkbox {
                    align-self: start;
                    margin-top: 0.2em;
                }
            }
        }
    }
}
