@layer components {
    input.upload {
        @apply file:bg-[var(--file-button-color,var(--color-base-content))] file:text-[var(--file-text-color,var(--color-white))];;
    }

    .upload-primary {
        --file-button-color: var(--color-primary-solid);
        --file-text-color: var(--color-primary-on-solid);
    }

    .upload-secondary {
        --file-button-color: var(--color-secondary-solid);
        --file-text-color: var(--color-secondary-on-solid);
    }

    .upload-tertiary {
        --file-button-color: var(--color-tertiary-solid);
        --file-text-color: var(--color-tertiary-on-solid);
    }

    .upload-success {
        --file-button-color: var(--color-status-success-solid);
        --file-text-color: var(--color-status-success-on-solid);
    }

    .upload-warning {
        --file-button-color: var(--color-status-warning-solid);
        --file-text-color: var(--color-status-warning-on-solid);
    }

    .upload-error {
        --file-button-color: var(--color-status-error-solid);
        --file-text-color: var(--color-status-error-on-solid);
    }
}
