// *
// * 
// * Contao KISS Website Framework
// *
// * _layout.scss
// * Basic styles for a minimal layout
// *

@import '../variables';

html {
	background: $color-page-background;
}

body {
	overflow-x: hidden;
}

#header--meta,
#header--main,
div.custom,
#footer {
	> .inside {
		margin: 0 auto;
		max-width: $object-size-regular;
		padding-left: $gutter-height;
		padding-right: $gutter-height;
	}
}


#header {
	width: 100%;
	.inside {
		display: flex;
		flex-direction: column;
	}
	#header--meta {
		width: 100%;
		background: $color-header-meta-background;
		color: $color-header-meta;
		> nav {
			> ul {
				li {
					> a,
					> strong {
						color: $color-header-meta;
						font-weight: normal;
					}
				}
			}
		}
	}
	#header--main {
		background: $color-header-background;
		> .inside {
			display: flex;
			flex-direction: row;
			align-content: center;
			align-items: center;
			justify-content: space-between;
		}
		.mod_logo,
		.mod_logo img {
			width: $logo-width;
			margin: $logo-margin;
			margin-left: 0;
			height: auto;
		}
	}
}

#footer {
	margin: 2rem 0 0 0;
	padding: 2rem 0;
	background: $color-brand;
	#footer--social {
		margin: 2rem 0;
		.mod_navigation {
			> ul {
				display: flex;
				justify-content: center;
				> li {
					margin: 0 1rem;
				}
			}
		}
	}
}
