// *
// * 
// * Contao KISS Website Framework
// *
// * _layout.scss
// * Basic styles for a minimal layout
// *

@import '../variables';

html {
	background: $color-page-background;
	* {
		box-sizing: border-box;
	}
}

body {
	overflow-x: hidden;
}

.header__meta,
.header__main,
div.custom,
footer {

	> .inside {
		margin: 0 auto;
		width: 100%;
		max-width: $object-size-regular;
		padding-left: $gutter-height-mobile;
		padding-right: $gutter-height-mobile;

		@include media('>=medium') {
			padding-left: $gutter-height;
			padding-right: $gutter-height;
		}
	}
}


.header {

	.inside {
		display: flex;
		flex-direction: column;
	}

	&__meta {
		width: 100%;
		background: $color-header-meta-background;
	}

	&__main {
		background: $color-header-background;
		height: 160px;
		display: flex;

		> .inside {
			display: flex;
			flex-direction: row;
			align-content: center;
			align-items: center;
			justify-content: space-between;
		}

		.mod_logo img {
			width: $logo-width;
			margin: $logo-margin;
			height: auto;
		}
	}

	&,
	a {
		color: $color-header;
	}
}


footer {
	margin: 2rem 0 0 0;
	padding: 2rem 0;
	color: $color-white;
	background: $color-brand;
}
