// *
// * 
// * Contao KISS Website Framework
// *
// * _type.scss
// * Includes basic typographic styles to the website
// *

@use 'sass:math';
@import '../variables';
@import '../mixins/mixins';

/*! font-size: #{$base-font-size}px; */
body {
  font-family: $font-sans;
  font-size: $base-font-size;
  color: $text-color;
}

pre,
code,
kbd,
samp,
var,
tt {
  font-family: $font-monospace;
}

/*--- Headings | Überschriften ------------------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headline-family;
  font-weight: $font-headline-weight;
  color: $headings-color;
  margin: 0;
}

h1 {
  // Take the base font size and multiply with scaling factor. Example: 1rem * 3 = 3rem
  font-size: #{$base-font-size * $h1-font-scale};
  // Take the base line-height. Example 1.2 – Resulting in 3rem * 1.2 = 3.6rem line-height
  line-height: $base-line-height;
  // Take the resulting font size for this element and multiply with line height. Divide this by 2. Result: Margin top and bottom is exactly 1/2 of the elements inner height.
  // Example: (1rem * 3) * 1.2 / 2 = (3rem * 1.2) / 2 = 3.6rem / 2 = 1.8rem
  margin: math.div(($base-font-size * $h1-font-scale) * $base-line-height, 2) 0;
}

h2 {
  font-size: #{$base-font-size * $h2-font-scale-mobile};
  line-height: $base-line-height;
  margin: math.div(($base-font-size * $h2-font-scale-mobile) * $base-line-height, 2) 0;
  @include media('>medium') {
    font-size: #{$base-font-size * $h2-font-scale};
    line-height: $base-line-height;
    margin: math.div(($base-font-size * $h2-font-scale) * $base-line-height, 2) 0;
  }
}

h3 {
  font-size: #{$base-font-size * $h3-font-scale-mobile};
  line-height: $base-line-height;
  margin: math.div(($base-font-size * $h3-font-scale-mobile) * $base-line-height, 2) 0;
  @include media('>medium') {
    font-size: #{$base-font-size * $h3-font-scale};
    line-height: $base-line-height;
    margin: math.div(($base-font-size * $h3-font-scale) * $base-line-height, 2) 0;
  }
}

h4 {
  font-size: #{$base-font-size * $h4-font-scale-mobile};
  line-height: $base-line-height;
  margin: math.div(($base-font-size * $h4-font-scale-mobile) * $base-line-height, 2) 0;
  @include media('>medium') {
    font-size: #{$base-font-size * $h4-font-scale};
    line-height: $base-line-height;
    margin: math.div(($base-font-size * $h4-font-scale) * $base-line-height, 2) 0;
  }
}

h5 {
  font-size: #{$base-font-size * $h5-font-scale-mobile};
  line-height: $base-line-height;
  margin: math.div(($base-font-size * $h5-font-scale-mobile) * $base-line-height, 2) 0;
  @include media('>medium') {
    font-size: #{$base-font-size * $h5-font-scale};
    line-height: $base-line-height;
    margin: math.div(($base-font-size * $h5-font-scale) * $base-line-height, 2) 0;
  }
}

h6 {
  font-size: #{$base-font-size * $h6-font-scale-mobile};
  line-height: $base-line-height;
  margin: math.div(($base-font-size * $h6-font-scale-mobile) * $base-line-height, 2) 0;
  @include media('>medium') {
    font-size: #{$base-font-size * $h6-font-scale};
    line-height: $base-line-height;
    margin: math.div(($base-font-size * $h6-font-scale) * $base-line-height, 2) 0;
  }
}

/* --- Lists | Listen  -------------------------------------------------------------------------------- */

ul,
ol,
dl {
  font-size: #{$base-font-size * $text-font-scale};
  line-height: $base-line-height;
  margin: math.div(($base-font-size * $text-font-scale) * $base-line-height, 2) 0;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul ul {
  list-style-type: circle;
  margin-top: 0;
}

ol ol {
  list-style-type: lower-latin;
  margin-top: 0;
}

ol ul {
  list-style-type: circle;
  margin-top: 0;
}

li {
  font-size: #{$base-font-size * $text-font-scale};
  line-height: $base-line-height;
  margin-left: #{$base-font-size * $text-font-scale * $base-line-height};
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 math.div(($base-font-size * $text-font-scale) * $base-line-height, 2) .8rem;
}

/* --- general text formatting | Allgemeine Textauszeichnung ------------------------------------------ */

p {
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: calc($gutter-height / 2) 0;
}

blockquote,
cite,
q {
  font-family: $font-serif;
  font-style: italic;
}

blockquote {
  background: $blockquote-bg-color;
  color: $blockquote-text-color;
  margin: calc($gutter-height / 2) 0 0 1.5rem;
}

strong,
b {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

big {
  font-size: #{$base-font-size * $text-big-font-scale};
  line-height: $line-height;
}

small {
  font-size: #{$base-font-size * $text-small-font-scale};
  line-height: $line-height;
}

pre,
code,
kbd,
tt,
samp,
var {
  font-size: #{$base-font-size * $text-font-scale};
}

pre {
  font-size: #{$base-font-size * $text-font-scale};
  line-height: $line-height;
  margin: calc($gutter-height / 2) 0;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre,
code {
  color: $pre-text-color;
}

kbd,
samp,
var,
tt {
  color: $kbd-text-color;
  font-weight: bold;
}

var,
dfn {
  font-style: italic;
}

acronym,
abbr {
  border-bottom: 1px #aaa dotted;
  font-variant: small-caps;
  letter-spacing: .07rem;
  cursor: help;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5rem;
}

sub {
  bottom: -0.25rem;
}

mark {
  background: $mark-bg-color;
  color: $mark-text-color;
}

hr {
  color: #fff;
  background: transparent;
  margin: 0 0 calc($gutter-height / 2) 0;
  padding: 0 0 calc($gutter-height / 2) 0;
  border: 0;
  border-bottom: 1px $hr-color solid;
}

/* --- images ------------------ */

img,
figure {
  display: block;
  margin: 0;
}

figcaption {
  font-family: $font-monospace;
}



/**
* ------------------------------------------------------------------------------------------------- #
*
* Tables | Tabellen
*
* (en) Generic classes for table-width and design definition
* (de) Generische Klassen für die Tabellenbreite und Gestaltungsvorschriften für Tabellen
*
* @section content-tables
*/

table {
  width: 100%;
  border-collapse: collapse;
  color: $text-color;
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  margin: calc($gutter-height / 2) 0;

  &.narrow {
    margin: calc($gutter-height / 2) 0;

    th,
    td {
      padding: 0 0.5rem;
      line-height: $line-height;
    }
  }

  thead th {
    background: #e0e0e0;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
  }

  tbody {
    th[scope="row"] {
      background: #f0f0f0;
    }

    th {
      border-right: 1px solid #ccc;
    }

    td {
      border-right: 1px solid #ccc;
    }
  }
}

caption {
  font-variant: small-caps;
}

th,
td {
  line-height: $line-height;
  vertical-align: top;
  padding: calc($gutter-height / 2) 0.5rem;
}

th *:first-child,
td *:first-child {
  margin-top: 0;
}

th.nowrap,
td.nowrap {
  white-space: nowrap;
}

thead th {
  text-align: left;
  color: #000;
  border-bottom: 2px #000 solid;
}

tbody {
  th {
    text-align: left;
    border-top: 1px solid #ccc;
  }

  td {
    text-align: left;
    border-top: 1px solid #ccc;
  }

  /* highlight row on mouse over */
  tr:hover th,
  tr:hover td {
    background: #f8f8f8;
  }
}