// *
// * 
// * Contao KISS Website Framework
// *
// * _cards_floating.scss
// * Styles for the Floaring Cards component
// *

.c-cards {
	&_floating {
		&--grid {
			.c-cards__wrapper {
				flex-wrap: wrap;
				gap: $gutter-height;
			}
			.c-cards__item {
				margin: 0;
				@include media('>=medium') {
					margin: 0;
					width: calc(50% - ($gutter-height / 2));
				}
			}
		}
		&--offset {
			.c-cards__item {
				margin: $gutter-height 0;
				
			}
		} 
		&--align {
			&-left {
				text-align: left;
			}
			&-center {
				text-align: center;
			}
			&-right {
				text-align: right;
			}
		}
		.c-cards__wrapper {
			display: block;
			margin: 0 auto;
			@include media('>medium') {
				display: flex;	
			}
		}
		.c-cards__cols {
			width: 100%;
			@include media('>medium') {
				flex: 0 0 50%;
				max-width: 50%
			}
			&--col-1 {
				padding-right: calc($gutter-height / 2);
			}
			&--col-2 {
				padding-left: calc($gutter-height / 2);
				@include media('>medium') {
					margin-top: 10rem;
				}
			}
		}
	}
} 