// *
// * 
// * Contao KISS Website Framework
// *
// * _quotebox.scss
// * Basic styles for quotebox elements
// *

// --------------------------------------------------
// VARIABLES 
//

$image-size: 100px;
$image-border-radius: 50%;



// --------------------------------------------------

.c-quotebox {
	overflow: hidden;
	&__person {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		@include media('>medium') {
			max-width: 50%;
		}
	}
	&__info {
		> p {
			margin: 0;
		}
	}
	&__name {
		font-weight: 700;
	}
	&__image {
		width: $image-size;
		height: $image-size;
		img {
			width: $image-size;
			height: $image-size;
			border-radius: $image-border-radius;
		}
	}
}