// *
// * 
// * Contao KISS Website Framework
// *
// * _tiles.scss
// * Styles for all tile elements
// *

.c-tiles {
	&--align {
		&-left {
			text-align: left;
		}
		&-center {
			text-align: center;
		}
		&-right {
			text-align: right;
		}
	}
	&--single {
		.c-tiles__item {
			padding: calc($gutter-height / 2);
		}
	}
	&--grouped {
		.c-tiles__cols {
			
		}	
	}
	&__item {
		box-sizing: border-box;
	}
	a.c-tiles__item {
		cursor: pointer;
	}
	&__icontext-wrapper {
		display: none;
	}
} 